@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

:root {
  --primary-red: hsl(0, 100%, 74%);
  --primary-green: hsl(154, 59%, 51%);

  --accent-blue: hsl(248, 32%, 49%);

  --neutral-dark-blue: hsl(249, 10%, 26%);
  --neutral-grayish-blue: hsl(246, 25%, 77%);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  overflow-y: scroll;
}

.wrapper {
  min-height: 100vh;
  min-width: 375px;
  width: 100%;
  background-image: url('/images/bg-intro-mobile.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--primary-red);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 20px 0 20px;
}

header {
  color: #fff;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}

header p {
  margin-top: 20px;
  font-weight: 200;
  font-size: 16px;
  width: 80%;
}

.secondary-info {
  color: #fff;
  background-color: var(--accent-blue);
  height: 80px;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.secondary-info p {
  text-align: center;
}

.secondary-info p > span {
  font-weight: bold;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.form-control {
  margin-bottom: 15px;
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.form-control input {
  padding: 15px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  font-weight: bold;
}

.form-control small {
  color: var(--primary-red);
  bottom: 0;
  left: 0;
  align-self: flex-end;
  font-style: italic;
  margin-right: 5px;
  visibility: hidden;
}

.form-control i {
  position: relative;
  position: absolute;
  align-self: flex-end;
  padding: 18px 15px 0 0;
  visibility: hidden;
}

.form-control input:focus {
  outline: 0;
  border-color: var(--neutral-dark-blue);
}

.form-control.success input {
  border-color: var(--primary-green);
}

.form-control.error input {
  border-color: var(--primary-red);
}

.form-control.success i {
  color: var(--primary-green);
  visibility: visible;
}

.form-control.error i {
  color: var(--primary-red);
  visibility: visible;
}

.form-control.error small {
  visibility: visible;
}

.form-info {
  text-align: center;
  font-size: 11px;
  width: 75%;
  color: var(--neutral-grayish-blue);
}

.form-info span {
  color: var(--primary-red);
  font-weight: bold;
}

.form-info span:hover {
  text-decoration: underline;
  cursor: pointer;
}

.bt-submit {
  background-color: var(--primary-green);
  padding: 15px;
  color: #fff;
  text-transform: uppercase;
  border: none;
  width: 95%;
  cursor: pointer;
}

.bs-bot-10 {
  box-shadow: 0 10px rgba(0, 0, 0, 0.22);
}

.br-10 {
  border-radius: 10px;
}

.br-5 {
  border-radius: 5px;
}

/* Desktop style */
@media only screen and (min-width: 1440px) {
  .container {
    flex-direction: row;
    justify-content: space-around;
  }

  header {
    text-align: start;
    align-items: flex-start;
    width: 30%;
  }
}
